body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#global-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(55, 53, 47, 0.32);
  border-radius: 5px;
  background-color: var(--notion-background-color);
  transform: scale(1.25);
  width: fit-content;
}

h3 {
  padding-top: 12px;
  font-size: 18px;
  color: rgba(55, 53, 47, 0.65);
  font-weight: 300;
}
